---
- name: Clonar repo Git e subir cAdvisor com Docker Compose
  hosts: all
  become: true

  vars:
    repo_url: "https://github.com/anhenrique/ansible.git"  
    repo_dest: "~/infra"
    compose_dir: "{{ repo_dest }}/cadvisor"

  tasks:
    - name: Garantir que o diretório {{ repo_dest }} existe
      file:
        path: "{{ repo_dest }}"
        state: directory
        mode: '0755'
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"

    - name: Clonar repositório Git (ou atualizar se já existir)
      git:
        repo: "{{ repo_url }}"
        dest: "{{ repo_dest }}"
        version: main         # ajuste para a branch correta
        force: yes
        update: yes

    - name: Subir containers com Docker Compose
      shell: docker compose up -d
      args:
        chdir: "{{ compose_dir }}"


    - name: Exibir saída do script na interface AWX
      debug:
        var: script_output.stdout_lines
